form{
	input{

		&[type="text"], 
		&[type="password"], 
		&[type="email"], 
		&[type="url"], 
		&[type="date"], 
		&[type="month"], 
		&[type="time"], 
		&[type="datetime"], 
		&[type="datetime-local"], 
		&[type="week"], 
		&[type="number"], 
		&[type="search"], 
		&[type="tel"], 
		&[type="color"]{  
			width: 100%;
			font-size: oe_rem(14px);
			height: oe_rem(50px);
			line-height: oe_rem(50px);
			border-radius: oe_rem(2px);
			border: 1px solid $lighter_color; 
			padding: oe_rem(15px);
			margin: oe_rem(10px) 0;
		} 
  
	}
   
	 select, 
	 textarea{ 
		width: 100%;
		height: oe_rem(50px);
	   line-height: oe_rem(50px);
		border-radius: oe_rem(2px);
		border: 1px solid $lighter_color; 
		padding: oe_rem(15px);
		margin: oe_rem(10px) 0;
	}
  
	textarea{ 
		font-size: oe_rem(14px);
		height: oe_rem(150px);
		margin: oe_rem(10px) 0;
	} 
	
	@include media("<md"){
		input{ 
			&[type="submit"]{ 
				max-width: 100%;  
			}
		}
	}
}


.btn{
	cursor:pointer;
	font-size: oe_rem(18px);
	font-weight: 700;
	height: oe_rem(50px);
	line-height: oe_rem(45px);
	padding: 0 oe_rem(20px);
	min-width: oe_rem(175px);
	border-radius: oe_rem(2px);
	border-width: 2px !important;
}

.custom-btn{  
	input{
		&[type="submit"]{
			cursor:pointer;
			font-size: oe_rem(18px);
			font-weight: 700;
			height: oe_rem(50px);
			line-height: oe_rem(45px);
			padding: 0 oe_rem(20px);
			min-width: oe_rem(175px);
			border-radius: oe_rem(2px);
			border-width: 2px !important;
			@include button-variant($btn-custom-color, $btn-custom-bg, $btn-custom-border);
		}
	}
}

.white-btn{ 
	@include button-variant($white, transparent, $white);  
}

.submit-btn{  
	input{
		&[type="submit"]{
			cursor:pointer;
			font-size: oe_rem(18px);
			font-weight: 700;
			height: oe_rem(50px);
			line-height: oe_rem(45px);
			padding: 0 oe_rem(20px);
			min-width: oe_rem(175px);
			border-radius: oe_rem(2px);
			border-width: 2px !important;
			@include button-variant($btn-custom-color, $btn-custom-bg, $btn-custom-border);
		}
	}
}
